tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:SimSun;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:\4E00\822C;
	mso-style-id:0;}
.font7
	{color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;}
.font9
	{color:blue;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;}
.font11
	{color:red;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:SimSun;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;}
.xl66
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	border:.5pt solid #993300;
	background:#FFFFCC;
	mso-pattern:black none;}
.xl67
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	border-top:.5pt solid #993300;
	border-right:.5pt solid #993300;
	border-bottom:.5pt solid #993300;
	border-left:none;}
.xl68
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid #993300;
	border-bottom:none;
	border-left:.5pt solid #993300;
	background:#FFFFCC;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:.5pt solid #993300;
	border-bottom:none;
	border-left:.5pt solid #993300;
	background:#FFFFCC;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:.5pt solid #993300;
	border-bottom:none;
	border-left:none;}
.xl71
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #993300;
	border-left:none;}
.xl72
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:.5pt solid #993300;
	border-bottom:.5pt solid #993300;
	border-left:none;}
.xl73
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:.5pt solid #993300;
	border-bottom:.5pt solid #993300;
	border-left:.5pt solid #993300;
	background:#FFFFCC;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #993300;}
.xl75
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:top;}
.xl76
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #993300;
	border-left:.5pt solid #993300;}
.xl77
	{mso-style-parent:style0;
	color:#FF6600;
	font-weight:700;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:.5pt solid #993300;
	border-right:none;
	border-bottom:.5pt solid #993300;
	border-left:none;}
.xl78
	{mso-style-parent:style0;
	color:#FF6600;
	font-weight:700;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:.5pt solid #993300;
	border-right:none;
	border-bottom:.5pt solid #993300;
	border-left:.5pt solid #993300;}
.xl79
	{mso-style-parent:style0;
	color:#FF6600;
	font-weight:700;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:.5pt solid #993300;
	border-right:.5pt solid #993300;
	border-bottom:.5pt solid #993300;
	border-left:none;}
.xl80
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:left;
	border-top:.5pt solid #993300;
	border-right:none;
	border-bottom:.5pt solid #993300;
	border-left:none;}
.xl81
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:left;
	border-top:.5pt solid #993300;
	border-right:none;
	border-bottom:.5pt solid #993300;
	border-left:.5pt solid #993300;}
.xl82
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:left;
	border-top:.5pt solid #993300;
	border-right:.5pt solid #993300;
	border-bottom:.5pt solid #993300;
	border-left:none;}
.xl83
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:left;
	border-top:.5pt solid #993300;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl84
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:left;
	border-top:.5pt solid #993300;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #993300;}
.xl85
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:left;
	border-top:.5pt solid #993300;
	border-right:.5pt solid #993300;
	border-bottom:none;
	border-left:none;}
.xl86
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;}
.xl87
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #993300;}
.xl88
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;
	border-top:none;
	border-right:.5pt solid #993300;
	border-bottom:none;
	border-left:none;}
.xl89
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #993300;
	border-left:none;}
.xl90
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #993300;
	border-left:.5pt solid #993300;}
.xl91
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;
	border-top:none;
	border-right:.5pt solid #993300;
	border-bottom:.5pt solid #993300;
	border-left:none;}
.xl92
	{mso-style-parent:style0;
	color:green;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #993300;
	border-left:none;}
.xl93
	{mso-style-parent:style0;
	color:green;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #993300;
	border-left:.5pt solid #993300;}
.xl94
	{mso-style-parent:style0;
	color:green;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;
	border-top:none;
	border-right:.5pt solid #993300;
	border-bottom:.5pt solid #993300;
	border-left:none;}
.xl95
	{mso-style-parent:style0;
	font-weight:700;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #993300;
	border-left:none;}
.xl96
	{mso-style-parent:style0;
	font-weight:700;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #993300;
	border-left:.5pt solid #993300;}
.xl97
	{mso-style-parent:style0;
	font-weight:700;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;
	border-top:none;
	border-right:.5pt solid #993300;
	border-bottom:.5pt solid #993300;
	border-left:none;}
.xl98
	{mso-style-parent:style0;
	font-weight:700;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;}
.xl99
	{mso-style-parent:style0;
	font-weight:700;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #993300;}
.xl100
	{mso-style-parent:style0;
	font-weight:700;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;
	border-top:none;
	border-right:.5pt solid #993300;
	border-bottom:none;
	border-left:none;}
.xl101
	{mso-style-parent:style0;
	color:#993300;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;}
.xl102
	{mso-style-parent:style0;
	color:#993300;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #993300;}
.xl103
	{mso-style-parent:style0;
	color:#993300;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;
	border-top:none;
	border-right:.5pt solid #993300;
	border-bottom:none;
	border-left:none;}
.xl104
	{mso-style-parent:style0;
	color:purple;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;}
.xl105
	{mso-style-parent:style0;
	color:purple;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #993300;}
.xl106
	{mso-style-parent:style0;
	color:purple;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:right;
	border-top:none;
	border-right:.5pt solid #993300;
	border-bottom:none;
	border-left:none;}
.xl107
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:.5pt solid #993300;
	border-right:none;
	border-bottom:.5pt solid #993300;
	border-left:.5pt solid #993300;}
.xl108
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:.5pt solid #993300;
	border-right:.5pt solid #993300;
	border-bottom:.5pt solid #993300;
	border-left:none;}
.xl109
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #993300;
	border-right:none;
	border-bottom:none;
	border-left:none;
	white-space:normal;}
.xl110
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #993300;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #993300;
	white-space:normal;}
.xl111
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #993300;
	border-right:.5pt solid #993300;
	border-bottom:none;
	border-left:none;
	white-space:normal;}
.xl112
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #993300;}
.xl113
	{mso-style-parent:style0;
	font-family:"Microsoft YaHei", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #993300;
	border-bottom:none;
	border-left:none;}
